@media (min-height:1000px) and (min-width:1440px) {
    #section6 {
        height: 275vh;
    }
}

@media (max-height:900px) and (min-width:1440px) {
    #section6 {
        height: 330vh; 
    }
}

@media (max-height:800px) and (min-width:1440px) {
    #section6 {
        height: 365vh; 
    }
}

@media (max-width: 1280px) {
    #section6 {
        height: 355vh;
    }
}

@media (max-width: 1280px) and (max-height: 850px) {
    #section6 {
        height: 325vh;
    }
}


@media (max-width: 1000px) and (max-height: 950px) {
    #section6 {
        height: 200vh;
    }

    #rdmap-wrapper-title {
        margin-bottom: 2%;
    }

    #rdmap-wrapper-box1 {
        height: 80%;
    }
}




@media (max-width:1440px){

    .itemcontainer {
        width: 100%;
        height: 70%;
    }

}

@media (min-width: 1140px) and (max-height: 888px) {
    .line-container10 {
        transform: rotate(200deg);
    }

    .line-container12 {
        transform: rotate(211deg);
    }
}

@media (max-width:1140px) {

    .itemcontainer-wrapper {
        width: 90%;
        height: 47%;
    }

    header a {
        width: 25%;
    }

    .header-button {
        width: 25%;
    }

    button a {
        width: 100%;
    }

}

@media (max-width:1000px) {

    #footer {
        background-size: contain;
    }

    #section3 {
        height: 80vh;
    }

    .header ul a {
        padding: 0 1rem;
    }

    .header button {
        padding: 12px 12px;
    }

    .imagebox {
        height: 65%;
    }

    .image-name {
        font-size: 28px;
    }

    .mail-text-wrapper {
        width: 80%;
    }

    .mail-image-wrapper {
        width: 20%;
    }

    #footer-divider {
        top: -2.5%;
    }

    svg {
        display: none;
    }

}


@media (max-width:785px) {

    .header ul a {
        padding: 0 0.5rem;
    }

}

@media (max-width:768px) {

    .butterfly-ani, .butterfly-ani-2 {
        transform: scale(0.5);
    }

    .center-container {
        width: 170px;
        height: 100px;
    }

    .gradient-purple:before {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 10%)
    }

    #rdmap-container-first {
        margin-top: 10%;
    }

    #butterfly3 {
        top: -15%;
        transform: scale(0.7);
        left: -10%;
    }

    #butterfly2
    {
        left: -30%;
    }
    #section8 {
        height: 35vh;
    }

    #team-image6 {
        background-position: 50%;
    }

    body {
        font-size: 16px;
    }

    .rdmap-content-box {
        border-radius: 8px;
    }

    .rdmap-header-box {
        border-radius: 6px;
    }

    #rdmap-wrapper-box1 {
        width: 80%;
    }

    .rdmap-container {
        height: 23%;
    }

    #rdmap-container-first {
        height: 30%;
    }

    #section6 {
        height: 180vh;
    }

    .content-wrapper {
        padding: 1% 0%;
    }

    .shroom2 {
        left: 84%;
    }

    .normal {
        display: none;
    }

    .mobile {
        display: flex;
    }

    header a {
        width: 35%;
    }

    .header-button {
        width: 35%;
    }

    .header-wrapper h1 {
        width: 100%;
    }

    .textbox i {
        display: none;
    }

    .button-wrapper {
        display: flex;
        margin: 1% 1%;
    }

    .button-prev-next {
        padding: 12px 12px;
    }

    .small-image {
        display: none;
    }

    footer p {
        font-size: 10px;
    }

    footer .logo {
        width: 80px;
    }

    footer ul li {
        font-size: 10px;
    }

    .mail-text-wrapper h1 {
        font-size: 28px;
    }

    .footer-container1 ul h2 {
        font-size: 10px;
    }

    .footer-container1 ul il {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .header nav {
        padding: 0 0.5rem;
    }

    button a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        width: 100%;
    }

    h1 {
        font-size: 40px; 
        line-height: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .large-image {
        width: 95%;
        animation: widthAnimation 1s forwards;
    }

    .small-image {
        position: absolute;
        width: 0%;
    }

    .image-name {
        font-size: 40px;
    }
    
    .image-title {
        font-size: 24px;
        padding-top: 12px;
    }

    .center-container h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .item-image-container img {
        max-height: 80px;
    }

    .itemcontainer {
        height: 70%;
    }

    .menu {
        display: none;
      }

      .menu.active {
        display: flex;
      }

      .hamburger-menu {
        display: flex;
      }

    .normal-menu {
        display: none;
    }

    .about-content {
        width: 100%;
    }

    .section-container-column {
        padding: 0 0.5rem;
    }

    .section-container-column-center {
        padding: 0 0.5rem;
    }

    .section-container {
        padding: 0 0.5rem;
    }

    .section-container-center22 {
        padding: 0 0.5rem;
    }

    .section-container-center {
        padding: 0 0.5rem;
    }

    #section3 {
        height: 45vh;
    }

    #section2 {
        height: 70vh;
    }

    .section-container-center2 {
        padding: 0 0.5rem;
    }

    #videobutton {
        padding: 12px 12px;
    }

    #videobutton p {
        font-size: 26px;
        line-height: 26px;
        
    }

}


@media (max-width:768px) and (min-height:850px) {

    .itemcontainer-wrapper {
        height: 45%;
    }

    .itemcontainer {
        height: 61%;
    }

    footer {
        height: 45vh;
    }

}

@media (max-width:582px) {
    
    .bg-images {
        height: 12%;
    }

    .rocks {
        height: 15%;
    }

    .shroom2 {
        left: 77%;
    }

    .imagebox {
        width: 85%;
    }

    #imageboxwrapper1, #imageboxwrapper2 {
        align-items: flex-end;
    }

}


@media (max-width:558px) {

    #section6 {
        height: 135vh;
    }

    .popup-close {
        left: 95%;
    }

    p {
        font-size: 13px;
        line-height: 13px;
    }

    body {
        font-size: 13px;
    }

    h2 {
        font-size: 20px;
        line-height: 20px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .hero-content p {
        font-size: 22px;
    }
    
    .textbox h2 {
        margin-bottom: 2%;
    }

}

@media (max-width:558px) and (max-height: 850px) {
    #section6 {
        height: 150vh;
    }
}

@media (max-width:474px) {

    #section8 {
        height: 35vh;
    }

    .itemtext-container {
        padding: 2px 5px;
    }

    .imagebox {
        padding: 5px;
    }

    .itemtext-container h2 {
        font-size: 16px;
    }

    .center-container h1 {
        width: 50%;
    }

    .rdmap-center-wrapper {
        width: 13%;
    }

    .rdmap-wrapper {
        width: 50%;
    }

    #section6 {
        height: 140vh;
    }

}

@media (max-width:450px) and (max-height: 850px) {
    #section6 {
        height: 155vh;
    }

    .rdmap-center-wrapper {
        width: 12%;
    }
}

@media (max-height:760px) {
    #section6 {
        height: 180vh;
    }
}

@media (max-width:360px) and (max-height:760px) {
    #section6 {
        height: 170vh;
    }
}

@media (max-width:360px) {

    #section8 {
        height: 30vh;
    }

    #section6 {
        height: 135vh;
    }

    p {
        font-size: 12px;
        line-height: 12px;
    }

    body {
        font-size: 12px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .imagebox {
        height: 70%;
        width: 95%;
    }

    .imagebox img {
        left: 30%;
    }

    .section-container-center2 {
        padding: 0 0.5rem;
    }

    .section-container-column {
        padding: 0 0.5rem;
    }
}

@media (max-width:360px) and (min-height:768px) {
    #section6 {
        height: 150vh;
    }

    .rdmap-center-wrapper {
        width: 12%;
    }
}

    @media (max-height: 768px) {
        
        #bgback {
            position: absolute;
        }
        
        #section6 {
            height: 175vh;
        }

        .rdmap-center-wrapper {
            width: 12%;
        }

        p {
            font-size: 11px;
            line-height: 11px;
        }

        h2 {
            font-size: 18px;
            line-height: 18px;
        }

        .line1-1 {
            top: 300%;
            height: 400%;
        }
        
        .hero-content {
            height: 85%;
        }

    }

    @media (max-height: 600px) {
        #section6 {
            height: 200vh;
        }
    
    }

@media (min-width: 1000px) and (max-height: 768px) {
    #section6 {
        height: 350vh;
    }
    
    .rdmap-center-wrapper {
        width: 10%;
    }
}
