*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-purple: #211C2C;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    background-image: url("../images/RENDER0900.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    font-weight: 400;
    max-width: 100vw;
    max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    position: relative;
    padding: 2% 0;
    letter-spacing: 2px;
}

h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

h3, h4, h5, h6{
    font-size: 18px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    padding: 2% 0;
}

.logo {
    width: 120px;
    z-index: 50;
    position: relative;
}

.logo:hover {
    filter: brightness(0.8);
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding-top: 1%;
    left: 0;
    top: 0;
    display: flex;
}

header a {
    width: 17%;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.video-container-h1 {
    position: absolute;
    top: 50%; 
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    font-size: 80px;
    line-height: 80px;
    text-align: center;
}

#myvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videobutton {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    display: flex;
    flex-direction: column;
}

.mobile {
    display: none;
}

#videobutton p {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.616);
}

#videobutton:hover p {
    color: white;
}

#stop-video {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

.header nav {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.normal-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.normal-menu li:hover {
    filter: brightness(0.8);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 51;
  }

  .header-button {
    z-index: 50;
    width: 17%;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  
.menu {
    display: none;
    list-style: none;
}

.menu.active {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(55, 53, 67, 0.75);
    padding: 8px;
    width: 100%;
    height: 200%;
    justify-content: flex-end;
    flex-direction: column;
}

.menu.active ul {
    position: relative;
    padding: 1% 1%;
    list-style: none;
}

.header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    font-weight: 500;
    font-size: 21px;
}

button {
    padding: 12px 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(180deg, #EABB2C 0%, #EA872C 100%);
    display: flex;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

button:hover {
    filter: brightness(0.8);
}


button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    width: 100%;
    z-index: 1;
}

hero {
    position: relative;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

hero #herovideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: none;
    background: #000;
    z-index: 5;
}

#section1 {
    background-image: url("../images/RENDER0900.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    display: none;
    z-index: 10;
}

.section-1 {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
}

.section-container {
    height: 100%;
    max-width: 1440px;
    width: 100%;
    display: flex;
    z-index: 1;
    padding: 0 2rem;
}

#center {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#center22 {
    align-items: center;
}

#column {
    flex-direction: column;
    justify-content: center;
}

#column-center {
    flex-direction: column;
    position: relative;
    justify-content: center;
}

#column-center-center {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
}

#center2 {
    flex-direction: column;
    position: relative;
}

.hero-content {
    height: 95%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-title {
    font-size: 333%;
    padding: 1% 0;
}

.first-color {
    background: linear-gradient(180deg, #EABB2C 0%, #EA872C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.second-color {
    background: linear-gradient(184.51deg, #FFFFFF 9.81%, #D6D8DF 96.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-content p {
    font-size: 28px;
    margin-top: -1.5%;
    color: rgba(234, 187, 44, 1);
}

.gradient-black-purple:before, .gradient-black-purple:after, .gradient-black:after, .gradient-black:before, .gradient-purple:after, .gradient-purple:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
}

.gradient-black:before{
    height: 25%;
    top: 0;
    background: linear-gradient(180deg, #000000 20%, rgba(0, 0, 0, 0) 100%);
}

.gradient-black:after {
    bottom: 0;
    background: linear-gradient(0deg, #000000 20%, rgba(0, 0, 0, 0) 100%);
}

.gradient-purple:before {
    top: 0;
    background: linear-gradient(180deg, #000000 5%, rgba(0, 0, 0, 0) 30%);
    z-index: 3;
}

.gradient-purple:after {
    bottom: 0;
    background: linear-gradient(0deg, #000000 5%, rgba(0, 0, 0, 0) 30%);
    z-index: 3;
}

.gradient-black-purple:before{
    top: 0;
    background: linear-gradient(180deg, #000000 20%, rgba(0, 0, 0, 0) 100%);
}

.gradient-black-purple:after {
    bottom: 0;
    background: linear-gradient(0deg, #000000 20%, rgba(0, 0, 0, 0) 100%);
}

#section2 {
    background-image: url("../images/Roadmap1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.about-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.divider {
    position: relative;
    width: 100px;
    height: 2px;
    background: rgba(234, 187, 44, 1);
    border-radius: 139px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#section3 {
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.bg-solar1, .bg-solar2, .bg-solar3, .bg-solar4 {
    width: 50%;
    height: 40%;
    position: absolute;
    display: flex;
    filter: blur(200px);
}

.solar-button {
    width: 0;
    height: 100%;
    position: absolute;
    display: flex;
    filter: blur(3px);
    z-index: 0;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #EABB2C 0%, #EA872C 100%);
}

.bg-solar1 {
    top: 43%;
    left: 40%;
    background: linear-gradient(220.92deg, #B558DA 20.94%, #F070EC 55.35%, #F27CF4 84.15%);
}

.bg-solar2 {
    top: 53%;
    left: 60%;
    background: linear-gradient(218.87deg, #861ADB 11.41%, #7370F0 43.82%, #7C8FF4 76.22%);
}

.bg-solar3 {
    top: 50%;
    left: 50%;
    background: linear-gradient(220.92deg, #B558DA 20.94%, #F070EC 55.35%, #F27CF4 84.15%);
    height: 30%;
    width: 20%;
    filter: blur(100px);
}

.bg-solar4 {
    top: 80%;
    left: 80%;
    background: linear-gradient(220.92deg, #B558DA 20.94%, #F070EC 55.35%, #F27CF4 84.15%);
    height: 30%;
    width: 20%;
    filter: blur(100px);
}

.bg-star {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    animation: blink 10s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }

    65% {
        opacity: 0
    }

    70% {
        opacity: 1
    }

    85% {
        opacity: 1
    }

    90% {
        opacity: 0
    }

}

@keyframes blink2 {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

}

.star1 {
    top: 24%;
    left: 33%;
    animation: blink2 10s infinite;
}

.star2 {
    top: 66%;
    left: 60%;
    animation: blink2 8s infinite;
}

.star3 {
    top: 95%;
    left: 84%;
    animation: blink 9s infinite;
}

.star4 {
    top: 15%;
    left: 73%;
}

.star5 {
    top: 80%;
    left: 25%;
    animation: blink 8s infinite;
}

.star6 {
    top: 5%;
    left: 1%;
    animation: blink2 8s infinite;
}

.star7 {
    top: 16%;
    left: 60%;
}

.star8 {
    top: 100%;
    left: 20%;
    animation: blink2 10s infinite;
}

.bg-star img {
    width: 64px;
    height: 64px;
    filter: blur(3px);
}

.star2 img {
    transform: scale(0.7);
}

.star4 img {
    transform: scale(0.4);
}

.image-content {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.image-group {
    position: relative;
    display: flex;
    border-radius: 24px;
    padding: 1% 1%;
    height: 99%;
    background: linear-gradient(36.45deg, rgba(242, 124, 244, 1.3) 9.92%, rgba(240, 112, 236, 1.3) 27.99%, rgba(181, 88, 218, 1.3) 46.07%, rgba(115, 112, 240, 1.3) 64.14%, rgba(124, 143, 244, 1.3) 82.21%);
}

.image-group:after {
    content: "";
    width: 99.8%;
    height: 99.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #292338;
    border-radius: 24px;
    position: absolute;
    z-index: 0;
}

.image-container img {
	border-radius: 24px;
	width: 100%;
}

.image-container {
	display: none;
}

.image-container.active {
    display: flex;
    height: 100%;
    z-index: 1;
    animation: fadeInAnimation 2s forwards;
}

.image-button-group {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-top: 3%;
}

.image-button-group i {
    position: relative;
}

.image-button {
	color: #fff;
	font-size: 18px;
	padding: 5px 5px;
	background-color: transparent;
	cursor: pointer;
    z-index: 10;
}

	.image-button:hover {
		color: #1DA1F2;
	}

#section4 {
    overflow-y: hidden;
    z-index: 9;
}

#bg {
    background-image: url("../images/plattari.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.bg-images {
    position: absolute;
    height: 15%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.rocks {
    top: 90%;
    height: 20%;
}

.shroom2 {
    left: 82%;
    top: 88%;
}

.container-section4 {
    display: flex;
    height: 40%
}

.imagebox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.imagebox {
    position: relative;
    width: 90%;
    height: 85%;
    border-radius: 16px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    z-index: 1;
    padding: 16px;
    cursor: pointer;
    overflow: hidden;
}

#imagebox1 {
    background: linear-gradient(155deg, #ffffff00 61.22%, #067781 98.87%);
}

#imagebox2 {
    background: linear-gradient(155deg, #ffffff00 61.22%, #953FFF 98.87%);
}

#imagebox3 {
    background: linear-gradient(155deg, #ffffff00 61.22%, #0058DC 98.87%);
}

#imagebox4 {
    background: linear-gradient(155deg, #ffffff00 61.22%, #E6F9FF 98.87%);
}

.imagebox:after {
    content: "";
    width: 99.4%;
    height: 99.2%;
    background: #000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.image-holder {
    position: relative;
    width: 30%;
    height: 100%;
    z-index: 1;
}

.imagebox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box-ellipse {
    position: absolute;
    width: 80%;
    height: 80%;
    opacity: 0.8;
    filter: blur(130px);
}

#ellipse1 {
    left: calc(80% - 120px/2 + 24px);
    top: calc(60% - 120px/2 + 40px);
}

#ellipse2 {
    left: calc(110% - 120px/2 + 24px);
    top: calc(60% - 120px/2 + 40px);
}

#ellipse3 {
    left: calc(110% - 120px/2 + 24px);
    top: calc(60% - 120px/2 + 40px);
}

#ellipse4 {
    left: calc(110% - 120px/2 + 24px);
    top: calc(60% - 120px/2 + 40px);
}

.textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    margin-left: 2%;
    z-index: 1;
}

.textbox i {
    margin-left: 16px;
    margin-bottom: 16px;
    position: relative;
    font-size: 30px;
    transform: rotate(-45deg);
}

.popup-section4 {
    display: none;
    flex-direction: column;
    position: absolute;
    max-width: 1440px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 990;
    justify-content: center;
    align-items: center;
}

.blur {
    filter: blur(0px);
    animation: blurAnimation 2s forwards;
  }
  
  @keyframes blurAnimation {
    0% {
      filter: blur(0px);
    }
    100% {
      filter: blur(10px);
    }
  }

.popup-close {
    position: absolute;
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
    background: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 50;
    padding: 5px 5px;
}

.popup-close:hover {
    background: none;
    color: #EABB2C;
}

.popup-text-wrapper {
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 2%;
    z-index: 1;
}

.popup-image-wrapper {
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0% 3%;
    z-index: 1;
}

.token {
    width: 85%;
    height: 85%;
}

.particles-container {
    position: absolute;
    width: 24%;
    height: 54%;
    z-index: 49;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    animation: scaleAnimation 10s infinite;
  }

.popup-box-ellipse {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    left: 40%;
    opacity: 0.8;
    filter: blur(80px);
    transform: translate(-50%, -50%);
}

#popup-ellipse1, #ellipse1 {
    background: #067781;
}

#popup-ellipse2, #ellipse2 {
    background: #953FFF;
}

#popup-ellipse3, #ellipse3 {
    background: #0058DC;
}

#popup-ellipse4, #ellipse4 {
    background: #E6F9FF;
}


.popup-image-wrapper img {
z-index: 1;
width: 95%;
height: 95%;
object-fit: contain;
object-position: center center;
}

.popup-content-wrapper {
    display: flex;
    position: relative;
    width: 70%;
    height: 50%;
    border-radius: 16px;
    overflow: hidden;
}

.popup-content-wrapper:after {
    content: "";
    width: 99.8%;
    height: 99.6%;
    background: #000;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}

#section5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.itemcontainer-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    height: 55%;
    justify-content: center;
}

#wrapper1 {
    align-items: center;
    margin-top: 5%
}

#wrapper3 {
    align-items: flex-start;
}

#wrapper4 {
    align-items: flex-end;
    margin-top: 5%
}

.itemcontainer {
    background: rgba(55, 53, 67, 0.35);
    width: 90%;
    height: 55%;
    border-radius: 16px;
    position: relative;
}

.center-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 333px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.center-container img {
    height: 100%;
    position: absolute;
}

#logonaked {
    height: 100%;
    animation: logoscale 5s infinite;
}

#sword2 {
    transform: rotate(270deg);
    height: 110%;
    top: 0;
    left: 12%;
    animation: swordmove2 5s infinite;
}

#sword1 {
    height: 110%;
    top: 0;
    left: 23%;
    animation: swordmove1 5s infinite;
}

@keyframes logoscale {
    0% {
        transform: scale(1);
    }

    45% {
        transform: scale(1);
    }

    47% {
        transform: scale(1.1);
    }

    48% {
        transform: scale(1);
    }

    52% {
        transform: scale(1);
    }

    53% {
        transform: scale(1.1);
    }

    54% {
        transform: scale(1);
    }
}

@keyframes swordmove1 {
    0% {
        top: 0;
        left: 23%;
    }

    40% {
        top: 0;
        left: 23%;
    }

    50% {
        top: -10%;
        left: 33%;
    }

    51% {
        top: 0;
        left: 23%;
    }

}

@keyframes swordmove2 {
    0% {
        top: 0;
        left: 12%;
    }

    20% {
        top: 0;
        left: 12%;
    }

    44% {
        top: -10%;
        left: 3%;
    }

    45% {
        top: 0;
        left: 12%;
    }

}

.center-container h1 {
    font-size: 48px;
    width: 30%;
}

.item-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.item-image-container img {
    margin-top: -15%;
    height: 100px;
}

.itemtext-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px 12px;
    width: 100%;
}

.itemtext-container h2 {
    padding-bottom: 1%;
}

#section6 {
    background: none;
    justify-content: center;
    height: 300vh;
}

.fixed-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url("../images/Ant_Vertical_00000_000001.png");
    background-position: 100% 79%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bgback {
    background-image: url("../images/Ant_Vertical_00000_00000.jpg");
    background-position: 100% 79%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

.rdmap-container {
    position: relative;
    justify-content: center;
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
}

.rdmap-title-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rdmap-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#rdmap-wrapper-title {
    width: 100%;
    align-items: center;
    height: 13%;
    justify-content: center;
}

#rdmap-wrapper-box1 {
    width: 60%;
    height: 40%;
}

#rdmap-container-first {
    flex-direction: column;
    align-items: center;
}

#rdmap-wrapper-2 {
    align-items: flex-end;
    justify-content: center;
}

.rdmap-center-wrapper {
    display: flex;
    position: relative;
    width: 10%;
    height: 100%;
    z-index: 0;
    align-items: center;
}

.rdmap-ball-container {
    position: relative;
    width: 100%;
    height: 19%;
    border-radius: 600px;
    border: dashed 1px white;
    justify-content: center;
    align-items: center;
    display: flex;
}

#rmap-ball-container-red {
    background: radial-gradient(49.26% 49.26% at 36.76% 30.88%, #E21F62 0%, #520C24 100%);
}

#rmap-ball-container-blue {
    background: radial-gradient(46.32% 46.32% at 41.18% 31.62%, #304EEC 0%, #0C1C50 100%);
}

.rdmap-ball {
    width: 60%;
    height: 60%;
    filter: blur(15px);
}

#rdmap-ball-green {
    background: radial-gradient(83.33% 83.33% at 27.78% 29.17%, #14BA78 0%, #099854 32.29%, #08612C 68.23%, #042E10 100%);
}

#rdmap-ball-red {
    background: radial-gradient(49.26% 49.26% at 36.76% 30.88%, #E21F62 0%, #520C24 100%);
}

#rdmap-ball-blue {
    background: radial-gradient(46.32% 46.32% at 41.18% 31.62%, #304EEC 0%, #0C1C50 100%);
}

.rdmap-grey-line {
    height: 100%;
    border: 1.5px solid grey;
}

.rdmap-green-line {
    height: 100%;
    border: 2.5px solid #0CAD73;
}

.rdmap-content-box {
    position: relative;
    padding: 3% 3%;
    border-radius: 20px;
}

.rdmap-header-box {
    padding: 3% 3%;
    border-radius: 12px;
}

.rdmap-content {
    padding: 0% 3%;
}

.rdmap-content ul {
    list-style: none;
}

.rdmap-content ul li {
    margin-top: 4%;
    margin-bottom: 4%;
}

.box-purple {
    background: linear-gradient(216.45deg, rgba(242, 124, 244, 0.3) 9.92%, rgba(240, 112, 236, 0.3) 27.99%, rgba(181, 88, 218, 0.3) 46.07%, rgba(115, 112, 240, 0.3) 64.14%, rgba(124, 143, 244, 0.3) 82.21%);
    border-color: rgba(115, 112, 240, 0.3);
}

.box-green {
    background-color: #000000;
    background: linear-gradient(93.17deg, rgba(5, 111, 72, 0.6) 6.34%, rgba(39, 69, 57, 0.6) 27%, rgba(5, 74, 46, 0.6) 90.49%);
}

.box-red {
    background-color: #000000;
    background: linear-gradient(152.84deg, rgba(208, 28, 90, 0.6) 13.25%, rgba(151, 7, 57, 0.6) 86.16%)
}

.box-blue {
    background-color: #000000;
    background: linear-gradient(159.07deg, rgba(48, 72, 199, 0.6) 16.46%, rgba(0, 26, 115, 0.6) 85.98%);
}

#rdmap-content-box-green1 {
    width: 80%;
}

#rdmap-content-box-green2 {
    width: 80%;
    margin-top: 10%;
}

#rdmap-content-box-green3 {
    width: 100%;
    margin-top: 20%;
}

#rdmap-content-box-red1 {
    width: 80%;
    margin-top: 10%;
}


#rdmap-content-box-red2 {
    width: 80%;
}


#rdmap-content-box-red3 {
    width: 80%;
    margin-top: 40%;
    margin-left: 10%;
}

.header-box-purple {
    background: rgba(255, 255, 255, 0.08);
}

.header-box-green {
    background: linear-gradient(93.17deg, #056F48 6.34%, #274539 100%, #054A2E 90.49%);
    width: 100%;
}

.header-box-red {
    background: linear-gradient(152.84deg, rgba(208, 28, 90, 0.8) 13.25%, rgba(151, 7, 57, 0.8) 86.16%);
    width: 100%;
}

.header-box-blue {
    background: linear-gradient(162.11deg, #3048C7 5.03%, #001A73 96.26%);
    width: 100%;
}

.line-container {
    position: absolute;
    transform-origin: left center;
    transform: translate(-50%, -50%);
}

.line3 {
    top: 46%;
    left: 89%;
    width: 105%;
    transform: rotate(330deg);
}

.line4 {
    top: 58%;
    left: 85%;
    width: 139%;
    transform: rotate(84deg);
}

.line6 {
    top: 100%;
    left: 50%;
    height: 81%;
}

.line2 {
    top: 28%;
    left: 50%;
    height: 25%;
}

.line1 {
    top: 108%;
    left: 50.01%;
    height: 15%;
}

.line1-1 {
    top: 255%;
    left: 50%;
    height: 320%;
}

.line5 {
    top: 46%;
    left: 4%;
    width: 102%;
    transform: rotate(215deg);
}

.line8 {
    top: 100%;
    left: 50%;
    height: 81%;
}

.line9 {
    top: 46%;
    left: 4%;
    width: 153%;
    transform: rotate(237deg);
}

.line10 {
    top: 57%;
    left: 21%;
    width: 130%;
    transform: rotate(118deg);
}

.line11 {
    top: 52%;
    left: 98%;
    width: 80%;
    transform: rotate(0deg);
}

.line12 {
    top: 52%;
    left: 98%;
    width: 80%;
    transform: rotate(0deg);
}

.rdmap-white-line {
    height: 100%;
    border: 1.5px dashed #FFFFFF;
}

.rdmap-white-circle {
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute;
    z-index: 2;
    border-radius: 60px;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
}

#rdmap-white-circle1 {
    left: 50%;
    top: 100%;
}

#rdmap-white-circle2 {
    left: 93%;
    top: 27%;
}

#rdmap-white-circle3 {
    left: 84%;
    top: 88%;
}

#rdmap-white-circle4 {
    left: 5%;
    top: 30%;
}

#rdmap-white-circle5 {
    left: 5%;
    top: 30%;
}

#rdmap-white-circle6 {
    left: 98%;
    top: 60%;
}

#rdmap-white-circle7 {
    left: 19%;
    top: 90%;
}

#rdmap-white-circle8 {
    left: 98%;
    top: 60%;
}

#section7 {
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.top-team-section {
    display: flex;
}

.header-wrapper {
    margin-bottom: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    height: 65%;
    background: #121212;
    border-radius: 24px;
    display: flex;
    padding: 0.5% 0.5%;
    justify-content: center;
    align-items: center;
}

.clickable-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	border-radius: 16px;
}

#team-image6 {
	background-position: 66%
}

.large-image {
	width: 45%;
    margin: 0.5% 0.5%;
    position: relative;
}

.large-image .image-name {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
    animation-delay: 0.5s;
    font-weight: 600;
  }

  .large-image .twitter-icon {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
    animation-delay: 0.4s;
  }

  .large-image .linkedin-icon {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
    animation-delay: 0.3s;
  }
  
  .large-image .image-title {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
    animation-delay: 0.6s;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.small-image {
	width: 10%;
	opacity: 0.8;
	filter: grayscale(70%);
    margin: 0.5% 0.5%;
}

.small-image:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.button-wrapper {
    display: none;
    width: 35%;
    justify-content: flex-end;
    height: 50%;
}

.button-prev-next {
    margin-left: 1%;
    margin-right: 1%;
}

.image-name, .image-title {
	display: none;
}

.large-image .image-name, .large-image .image-title {
	display: block;
	color: #fff;
	padding-left: 30px;
    font-family: 'Oswald', sans-serif;
}

.image-name {
	font-size: 44px;
	padding-top: 20px;
}

.image-title {
	font-size: 24px;
    padding-top: 10px;
}

.linkedin-icon {
	display: none;
	color: #fff;
	position: absolute;
	bottom: 25px;
	left: 30px;
	border-style: solid;
    padding: 4px 8px;
	border-radius: 10px;
	font-size: 25px;
}

	.linkedin-icon:hover {
		color: #0077b5; /* LinkedIn's brand color */
		border-color: #fff;
	}

.large-image .linkedin-icon {
	display: block;
}

.twitter-icon {
	display: none;
	color: #fff;
	position: absolute;
	bottom: 25px;
	left: 90px;
	border-style: solid;
    padding: 4px 8px;
	border-radius: 10px;
	font-size: 25px;
}

	.twitter-icon:hover {
		color: #1DA1F2;
		border-color: #fff;
	}

.large-image .twitter-icon {
	display: block;
}

#section8 {
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    z-index: 9;
}

.mail-wrapper {
    position: relative;
    width: 100%;
    max-height: 100%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-text-wrapper{
    width: 60%;
    margin-left: 2%;
    margin-right: 1%;
}

.mail-text-wrapper p{
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.form-field {
    width: 65%;
    border: solid 1px #69727d;
    padding: 8px 14px;
    border-radius: 8px;
}

#mail-button {
    margin-left: 1%;
    width: 25%;
}

.mail-image-wrapper {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.mail-image-wrapper img {
    height: 100%;
    z-index: 1;
}

svg {
    position: absolute;
    top: 70%;
    left: 58%;
}

footer {
    position: relative;
    height: 60vh;
    width: 100%;
    display: none;
    justify-content: center;
    background: #000;
    z-index: 1000;
    background-image: url(/images/footerbg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

footer a:hover {
    filter: brightness(0.8);
}

#footer-divider {
    width: 95%;
    height: 0.5%;
    position: absolute;
    top: -1.5%;
    background: linear-gradient(270deg, #B558DA 20.48%, #F070EC 32.14%, #F27CF4 43.8%, #861ADB 55.45%, #7370F0 67.11%, #7C8FF4 78.77%);
}

.footer-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.footer-container1 {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    z-index: 1;
}

.footer-container2 {
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-container1 ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 25%;
    margin-top: 5%;
    list-style: none;
}

.footer-container1 ul h2 {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 500;
}

.footer-container1 ul il {
    margin-bottom: 5px;
    font-size: 16px;
}

.footer-container1 ul il i {
    margin-right: 5px;
}

.footer-container2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-align: left;
    list-style: none;
    width: 33%;
}

.footer-text-container {
    text-align: center;
    width: 33%;
}

.butterfly-ani {
    width: 128px;
    height:128px;
    animation: play 1.2s steps(22) infinite;
    background:url(../images/butterfly-sheetniko.png);
}

.butterfly-ani-2 {
    width: 128px;
    height:128px;
    animation: play 1s steps(22) infinite;
    background:url(../images/butterfly-sheetniko.png);
}

.butterfly-container {
    position: absolute;
    z-index: 1000;
    width: 128px;
    height: 128px;
}

#butterfly2 {
    animation: fly2 10s infinite;
}

#butterfly1 {
    animation: fly 10s infinite;
}

#butterfly3 {
    top: 20%;
    left: 0;
}

#butterfly4 {
    animation: fly3 14s infinite;
}


@keyframes play{
  100% {
    background-position: -2816px 0;
  }

  }

  @keyframes fly {
    0% {
        top: 60%;
        left: 0;
        transform: scale(0);
      }
    
    10% {
      top: 60%;
      left: 0;
      transform: scale(0);
    }

    50%, 60% {
        top: 30%;
        left: 50%;
        transform: scale(1);
    }

    90% {
        top: 10%;
        left: 98%;
        transform: scale(0);
      }

    100% {
      top: 10%;
      left: 98%;
      transform: scale(0);
    }
  }

  @keyframes fly2 {
    0% {
      top: 100%;
      left: 20%;
      transform: scale(0) rotate(-45deg);
    }

    50% {
        transform: scale(1) rotate(-45deg);
    }
    100% {
      top: -10%;
      left: 40%;
      transform: scale(0) rotate(-45deg);
    }
  }

  @keyframes fly3 {
    0% {
      top: 88%;
      left: 98%;
      transform: scale(0) rotate(-100deg);
    }

    50% {
        top: 50%;
        left: 50%;
        transform: scale(1) rotate(-100deg);
    }
    100% {
      top: 20%;
      left: 0;
      transform: scale(0) rotate(-100deg);
    }
  }
